@font-face {
    font-family: freight-sans-pro;
    src:
        url("https://use.typekit.net/af/99669d/00000000000000007735d65d/31/l?subset_id=2&fvd=n4&v=3") format("woff2"),
        url("https://use.typekit.net/af/99669d/00000000000000007735d65d/31/d?subset_id=2&fvd=n4&v=3") format("woff"),
        url("https://use.typekit.net/af/99669d/00000000000000007735d65d/31/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: auto;
}

@font-face {
    font-family: freight-sans-pro;
    src:
        url("https://use.typekit.net/af/2360bd/00000000000000007735d66e/31/l?subset_id=2&fvd=n7&v=3") format("woff2"),
        url("https://use.typekit.net/af/2360bd/00000000000000007735d66e/31/d?subset_id=2&fvd=n7&v=3") format("woff"),
        url("https://use.typekit.net/af/2360bd/00000000000000007735d66e/31/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: auto;
}
