:root {
    --background-color-light: #ffffff;
    --background-color-dark: #1e1e1e;

    --background-color-accent-light: #2b2f33;
    --background-color-accent-dark: #d4d0cc;

    --text-color-header-light: #212326;
    --text-color-header-dark: #e6e6e6;

    --text-color-light: #666666;
    --text-color-dark: #d2d2d2;

    --transition-duration: 0.2s;
    --transition-ease: ease-in-out;

    --gap: 1rem;
    --gap-double: calc(var(--gap) * 2);
    --gap-half: calc(var(--gap) / 2);

    --border-radius: 0.1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

a, input, textarea, select {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: calibri, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    --background-color: var(--background-color-light);
    --background-color-accent: var(--background-color-accent-light);
    --text-color-header: var(--text-color-header-light);
    --text-color: var(--text-color-light);

    background-color: var(--background-color);
    color: var(--text-color);

    color-scheme: light;

    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none;    /* Firefox legacy */
    -ms-user-select: none;     /* IE10–11 */
    user-select: none;         /* Standard */
}

body[data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --background-color-accent: var(--background-color-accent-dark);
    --text-color-header: var(--text-color-header-dark);
    --text-color: var(--text-color-dark);

    color-scheme: dark;
}

body[data-theme="dark"] [data-theme="light"] { display: none !important; }
body[data-theme="light"] [data-theme="dark"] { display: none !important; }

body[data-theme="dark"] .filter-onDark-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

html[lang="en"] [data-language="el"] { display: none !important; }
html[lang="el"] [data-language="en"] { display: none !important; }

/* FLEX */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.grid {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
}

.flex-wrap { flex-wrap: wrap; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }
.flex-9 { flex: 9; }
.flex-10 { flex: 10; }
.flex-11 { flex: 11; }
.flex-12 { flex: 12; }

.flex-gap-none { gap: 0; }
.flex-gap-half { gap: var(--gap-half); }
.flex-gap-double { gap: var(--gap-double); }

/* USER-SELECT */

.user-select-text {
    -webkit-user-select: text !important; /* Safari/Chrome */
    -moz-user-select: text !important;    /* Firefox legacy */
    -ms-user-select: text !important;     /* IE10–11 */
    user-select: text !important;         /* Standard */
}

/* HEADER */

header {
    position: relative;
}

.header-image {
    justify-content: flex-end;

    background-color: var(--background-color-accent);
    background-image: url('./../assets/photos/IMG_8158.jpg');
    background-size: cover;
    background-position: 35% 35%;
    
    width: 100%;
    height: 80vh;

    padding: var(--gap);
}

.header-image img {
    width: 8rem;
    height: auto;
}

.header-image h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1;
}

/* NAVBAR */

nav {
    position: absolute;

    bottom: var(--gap);
    right: var(--gap);

    z-index: 1000;
}

nav > div > div {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: var(--border-radius);
    background-color: var(--background-color);

    cursor: pointer;

    transition: all var(--transition-duration) var(--transition-ease);
}

nav > div > div:hover {
    transform: scale(1.1);
}

nav > div > div img {
    width: 50%;
    height: auto;
}

#button-theme-dark img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* MAIN */

/* SECTION */

.section {
    margin-inline: auto;

    padding-inline: var(--gap);

    max-width: 1080px;
}

.section.section-full-width {
    max-width: 100%;
    padding-inline: 0;
}

/* SECTION ABOUT */

.section-about {
    padding-block: 7rem;
    text-align: justify;
}

.section-about > div {
    align-items: flex-start;
}

.section-about > div:first-child {
    flex-direction: row-reverse;
}

.section-about img,
.section-about p {
    min-width: 18rem;
    border-radius: var(--border-radius);
}

/* SECTION SEPERATOR */

.section-seperator {
    height: 1px;
    background-color: var(--background-color-accent);
    opacity: 0.2;
}

/* SECTION PORTFOLIO */

.section-portfolio {
    padding-block: 7rem;
    text-align: justify;
}

.section-portfolio-header {
    font-size: 2.5em;
    color: var(--text-color-header);
}

/* SECTION GALLERY */

.section-gallery {
    padding-block: 7rem;
}

.gallery-category-container {
    align-items: flex-start;
}

.gallery-category {
    position: relative;

    align-items: flex-end;
    justify-content: start;

    height: 8rem;
    width: 100%;

    border-radius: var(--border-radius);

    overflow: hidden;

    cursor: pointer;

    transition: all var(--transition-duration) var(--transition-ease);
}

.gallery-category[data-selected="true"] {
    height: 80vh;
    align-items: flex-start;
    background-color: var(--background-color-accent);
}

.gallery-category[data-selected="false"]:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
}

.gallery-category-title {
    position: relative;

    font-size: 4em;
    color: #ffffff;
    line-height: 1;

    padding: 0.25rem;

    z-index: 2;
}

.gallery-category[data-selected="false"] .gallery-category-image-item-description {
    display: none;
}

.gallery-category-image-container {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    transition: all var(--transition-duration) var(--transition-ease);
}

.gallery-category-image-item {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.gallery-category-image-item[data-visible="false"] {
    display: none;    
}

.gallery-category-image-item.gallery-image-fade-out {
    animation: fadeOut 0.15s ease-in-out forwards;
}

.gallery-category-image-item.gallery-image-fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gallery-category[data-selected="false"] .gallery-category-image-item img {
    object-fit: cover;
}

.gallery-category[data-selected="true"] .gallery-category-image-item img {
    object-position: 50% 50% !important;
}

.gallery-category-image-item img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: 50% 50%;
}

.gallery-category[data-selected="false"] .gallery-category-image-item img {
    -webkit-filter: blur(2px) brightness(60%);
    filter: blur(2px) brightness(60%);

    transform: scale(1.1);
}

.gallery-category-image-item-description {
    position: absolute;

    bottom: 0;
    left: 0;

    padding: 1rem;

    color: #ffffff;
}

.gallery-category[data-selected="false"] .gallery-category-dots-container {
    display: none;
}

.gallery-category-dots-container {
    position: absolute;

    bottom: 0.5rem;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    z-index: 2;
}

.gallery-category-dots-container .gallery-category-dot {
    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);

    cursor: pointer;

    transition: all var(--transition-duration) var(--transition-ease);
}

.gallery-category-dots-container .gallery-category-dot[data-active="true"] {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* SECTION SOCIAL */

.section-social {
    background-color: var(--background-color-accent);
}

.section-social a {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: var(--border-radius);
    background-color: var(--background-color);

    margin-block: 3.5rem;

    transition: all var(--transition-duration) var(--transition-ease);
}

.section-social a:hover {
    transform: scale(1.1);
}

.section-social a img {
    width: 50%;
    height: auto;
}

/* SECTION MAP */

.section-map {
    margin-block: 3.5rem;

    font-size: 0.8em;
    color: var(--text-color-header);
}

.section-map > div:first-child {
    margin-bottom: var(--gap);
}

.section-map iframe {
    width: 100%;
    height: 25rem;
    
    border: none;
    border-radius: var(--border-radius);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    :root {
        --gap: 0.5rem;
    }
}

@media (max-width: 512px) {
    .gallery-category-title {
        font-size: 3em;
    }
}

@media (max-width: 430px) {
    .header-image {
        padding-bottom: calc(var(--gap-double) + 2.5rem);
    }

    nav {
        left: 50%;
        transform: translateX(-50%);
    }
}
