:root {
    --background-color: #ffffff;
    --background-color-accent: #2b2f33;

    --text-color-header: #212326;
    --text-color: #666666;

    --transition-duration: 0.2s;
    --transition-ease: ease-in-out;

    --gap: 1rem;
    --gap-double: calc(var(--gap) * 2);
    --gap-half: calc(var(--gap) / 2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a, input, textarea, select {
    font: inherit;
    color: inherit;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: freight-sans-pro;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
}

/* FLEX */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.grid {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
}

.flex-wrap { flex-wrap: wrap; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }
.flex-9 { flex: 9; }
.flex-10 { flex: 10; }
.flex-11 { flex: 11; }
.flex-12 { flex: 12; }

.flex-gap-none { gap: 0; }
.flex-gap-half { gap: var(--gap-half); }
.flex-gap-double { gap: var(--gap-double); }

/* HEADER */

.header-image {
    background-color: var(--background-color-accent);
    background-image: url('./../assets/photos/IMG_8158.jpg');
    background-size: cover;
    background-position: 35% 35%;
    
    width: 100%;
    height: 80vh;
}

/* MAIN */

/* SECTION */

.section {
    margin-inline: auto;

    padding-inline: var(--gap);

    max-width: 1080px;
}

.section.section-full-width {
    max-width: 100%;
    padding-inline: 0;
}

/* SECTION ABOUT */

.section-about {
    padding-block: 7rem;
    text-align: justify;
}

.section-about > div {
    align-items: flex-start;
    padding: var(--gap);
}

.section-about > div:first-child {
    flex-direction: row-reverse;
}

.section-about img,
.section-about p {
    min-width: 18rem;
}

/* SECTION SEPERATOR */

.section-seperator {
    height: 1px;
    background-color: var(--background-color-accent);
    opacity: 0.2;
}

/* SECTION PORTFOLIO */

.section-portfolio {
    padding-block: 7rem;
    text-align: justify;
}

.section-portfolio-header {
    font-size: 2.5em;
    color: var(--text-color-header);
}

/* SECTION GALLERY */

.section-gallery {
    padding-block: 7rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    gap: 0.2rem;
}

/* SECTION SOCIAL */

.section-social {
    background-color: var(--background-color-accent);
}

.section-social a {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 6px;
    background-color: var(--background-color);

    margin-block: 3.5rem;
}

.section-social a img {
    width: 50%;
    height: 50%;
}

/* SECTION MAP */

.section-map {
    margin-block: 3.5rem;

    font-size: 0.8em;
    color: var(--text-color-header);
}

.section-map iframe {
    padding-block: var(--gap);

    width: 100%;
    height: 25rem;
    
    border: none;

    filter: grayscale(100%) invert(92%) contrast(83%);
}