:root {


    --transition-duration: 0.2s;
    --transition-ease: ease-in-out;

    --gap: 1rem;
    --gap-double: calc(var(--gap) * 2);
    --gap-half: calc(var(--gap) / 2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

a, input, textarea, select {
    font: inherit;
    color: inherit;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    font-size: 100%;
    font-weight: 400;
}

body {
    /* background-color: ; */
}

/* FLEX */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.grid {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
}

.flex-wrap { flex-wrap: wrap; }

.flex-space-between { justify-content: space-between; }
.flex-space-evenly { justify-content: space-evenly; }
.flex-start { justify-content: flex-start; align-items: flex-start; }
.flex-end { justify-content: end; align-items: flex-end; }
.flex-stretch { align-items: stretch; }

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-5 { flex: 5; }
.flex-6 { flex: 6; }
.flex-7 { flex: 7; }
.flex-8 { flex: 8; }
.flex-9 { flex: 9; }
.flex-10 { flex: 10; }
.flex-11 { flex: 11; }
.flex-12 { flex: 12; }

.flex-gap-none { gap: 0; }
.flex-gap-half { gap: var(--gap-half); }
.flex-gap-double { gap: var(--gap-double); }
